* { box-sizing: border-box;}

body {
  background-image: url("http://www.v3wall.com/wallpaper/1920_1200/1007/1920_1200_20100725100257660693.jpg");
}

#barra_de_vida_thor{
     width: 710px;
     height: 80px;
     border: 3px solid #555;
     background: white;
     float: left;
     right: 10px;
     position: absolute;
     margin-top: 20px;
}

#barra_de_vida_thor1{
     width: 695px;
     height: 60px;
     border: 1px solid #555;
     background: red;
     animation: vida2 10s steps(10) infinite;
     float: left;
     right: 17.33px;
     position: absolute;
     text-align: center;
     margin-top: 30px;
}

#barra_de_vida_muelte{
     width: 710px;
     height: 80px;
     border: 3px solid #555;
     background: white;
     float: left;
     position: absolute;
     margin-top: 20px;

}

#barra_de_vida_muelte1{
     width: 695px;
     height: 60px;
     border: 1px solid #555;
     background: red;
      float: left;
      position: absolute;
      margin-top: 30px;
    left: 16px;
}






.zombie-walk {
  width: 278px;
  height: 211px;
  background-image: url("muelte.png");
    float: left;
  animation: walk 7s steps(40) infinite;
  position: absolute;
  margin-top: 650px;
}

.zombie-bard {
  width: 430px;
  height: 200px;
  background-image: url("thor.png");
  position: absolute;
  float: left;
  animation: walk1 1s steps(9) infinite;
  right: 100px;
  margin-top: 650px;
}

.fire {
  width: 130px;
  height: 80px;
  background-image: url("fire.png");
  position: absolute;
  float: left;
  animation: walk2 4.4s steps(9) infinite;
  left: 150px;
  margin-top: 680px;
}


.cloud {
  width: 500px;
  height: 280px;
  background-image: url("cloud.png");
  position: absolute;
  float: left;
  animation: cloud 1s steps(11) infinite;
  right: 70px;
  margin-top: 250px;
}

.trueno{
  width: 128px;
  height: 192px;
  background-image: url("trueno.png");
  position: absolute;
  float: left;
  animation: trueno 1s steps(6) infinite;
  right: 245px;
  margin-top: 450px;
}



.explosion1 {
  width: 157px;
  height: 229px;
  background-image: url("explosion1.png");
  position: absolute;
  float: left;
  animation: explosion1 4.5s steps(19) infinite backwards ;
  right: 235px;
  animation-delay: 3.8s;
  margin-top: 650px;
  visibility: hidden;
}

.explosion2 {
  width: 430px;
  height: 200px;
  background-image: url("fuego.png");
  position: absolute;
  float: left;
  animation: walk1 0.3s steps(3) infinite;
  right: 650px;
  margin-top: 700px;
}

@keyframes vida1 {
  100% { background-position: -11120px;}
}

@keyframes vida2 { ;
  54% {width: 100%; }
  55% {width: 55%; }
  95% {width: 55%; }
  96% {width: 40%; }
  97% {width: 40%; }
  98% {width: 20%; }
  99% {width: 20%; }
  100% {width: 0%; }

}

@keyframes walk {
  100% { background-position: -11120px;}
}

@keyframes cloud{
  100% { background-position: -5500px;}
}

@keyframes trueno{
  100% { background-position: -768px;}
}

@keyframes muerte {
  100% { background-position: -200px; margin-left: 100%;}
}

@keyframes walk2 {
  100% { background-position: -1170px; margin-left: 70%;}
}

@keyframes explosion1 {

  100% { background-position: -2983px; visibility: visible;}
}

@keyframes explosion2 {
  100% { background-position: -1170px;}
}

@keyframes walk1{
  100% { background-position: -3870px;}
}
